dnspython
marshmallow
marshmallow_dataclass
python-dateutil
cement~=3.0
jinja2
pyyaml
colorlog
semver
jwt
iso8601
tabulate
pyOpenSSL
requests
aenum
colorama
cryptography

# aws
boto3
# azure cloud
azure-identity
azure-mgmt-resource
azure-mgmt-compute
azure-mgmt-network
# gcp
google-api-python-client
# oracle cloud
oci

# okta
okta
# azure ad
azure-identity
msgraph-core